/* Navbar Section */
body {
  font-family: "Inter", serif;
}
::selection {
  background-color: #0a4d80;
  color: #f8586b;
}
.header {
  display: flex;
  align-items: center;
  height: 60px;
  background-color: black;
  transition: 1s ease all;
  top: 0px;
  z-index: 2;
  box-shadow: 0px -1px 8.4px #ababb3;
}
.dropdown-menu {
  position: absolute !important;
  background: aliceblue;
  padding: 0;
  margin-top: 10px;
}
.nav-item.dropdown a:focus {
  color: #fff !important;
}
.navbar__section {
  position: absolute;
  width: 100%;
}
.nav-link.i i {
  font-weight: bold;
}
.nav-item.l {
  padding: 5px;
}
.navbar {
  background-color: transparent;
}
.brand_wrapper {
  display: flex;
  align-items: center;
  width: 20%;
}
.navbar-toggler {
  color: #fff;
}
.navbar-brand img {
  width: 65%;
}
.navbar-brand {
  margin-right: 0;
}
.nav-link,
.nav-item span {
  color: #fff;
}
.nav-link:hover {
  color: #a2a3af;
}
.navbar-nav {
  display: flex;
  align-items: center;
  justify-content: center;
}
.navbar__section .navbar .container form {
  align-items: center;
  width: 40%;
}
#search__input {
  color: #fff;
}
.last {
  margin-right: 6px;
}
.navbar__section .navbar .container form label {
  width: 8%;
}
.navbar__section .navbar .container form label:hover {
  cursor: pointer;
}
.navbar__section .navbar .container form > * {
  color: #fff;
}
.navbar__section .navbar .container form input {
  background: transparent;
  border: none;
}
::placeholder {
  color: #fff;
}
.navbar-nav {
  width: 57%;
}
.navbar__section .navbar .container form input:focus {
  background-color: rgba(256, 256, 256, 0.2);
}
.navbar__section .navbar .container form input:focus-visible {
  outline: none;
}
.navbar-nav .nav-item {
  margin-right: 10px;
}
.vxod_btn {
  padding: 7px 10px;
  border-radius: 3px;
  color: #fff;
  text-decoration: none;
  background-color: #529dd6;
  border: none;
  font-size: 14px;
}
.vxod_btn:hover {
  color: #fff;
  background-color: #2282cc;
}
/* Main Page Section  */
.main_banner {
  min-height: 100vh;
  background: linear-gradient(
      134.3deg,
      rgba(0, 0, 0, 0.76) 26.87%,
      rgba(0, 0, 0, 0.24) 118.47%
    ),
    url("./../../public/images/Backgrounds/bg1.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: #fff;
}
.banner_wrapper {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.mainpage_slider {
  width: 100%;
  margin-right: 0;
}
.mainpage_slide p {
  font-size: 16px;
  font-weight: 500;
}
.mainpage_slide h4 {
  font-size: 15px;
  font-weight: 700;
}
.mainpage_slide small {
  font-size: 9px;
  font-weight: 500;
}
.slick-next {
  right: 0;
  top: -10%;
}
.slick-prev {
  left: 95%;
  top: -10%;
}
.text__part {
  display: flex;
  flex-direction: column;
}
.text__part button {
  width: 20%;
  margin: 30px 0;
  display: inline-block;
  background-color: #529dd6;
  color: #fff;
}
.text__part button:hover {
  color: #fff;
  background-color: #2282cc;
}

/* Modernitation Section  */

.modernitation__section {
  padding: 30px 0 20px;
}
.modernitation__header .row .col-xl-4 {
  padding: 0 30px;
}
.modernitation__header {
  margin: 60px 0;
}
.modernitation__body {
  margin: 20px 0;
}
.modernitation__body .row .col-lg-6 h5 {
  font-weight: 700;
  margin-bottom: 7%;
}
.modernitation__body .row .col-lg-6 button {
  margin: 15px 0;
  display: inline-block;
  background-color: #529dd6;
  color: #fff;
  transition: 0.3s ease all;
}
.modernitation__body .row .col-lg-6 button:hover {
  background-color: #1579c5;
}
.modernitation__body .row .col-lg-6 p {
  font-size: 14px;
}
.modernitation_pacet__img {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  width: 60px;
  background-color: #529dd6;
  border-radius: 50%;
  margin-bottom: 15px;
}
.modernitation_pacet__img img {
  background: aliceblue;
  height: 60%;
  width: 60%;
}
.modernitation_pacet_box__img {
  background-color: aliceblue;
  width: 100%;
  height: 102%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
.modern_img__box::before {
  position: absolute;
  content: "";
  top: -10%;
  left: 5%;
  border: 3px solid #ebecfb;
  width: 91%;
  height: 95%;
  z-index: -1;
}
.modern_img__box {
  position: relative;
  z-index: 1;
}
.modern_img__box img {
  width: 90%;
}

/* News Section  */
.news__section {
  min-height: 40vh;
  padding: 45px 0 0px;
}
.news__head {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.news__pacet {
  max-height: 20%;
}
.news__head a,
.news__head h2 {
  width: 20%;
}
.news__head a {
  text-align: right;
}
.news__head h2 {
  font-weight: 700;
}
.news__row_with__height,
.news__pacet__hashtag {
  color: gray;
}
.news__pacet img {
  width: 100%;
}
.news__pacet .row {
  width: 100%;
  margin: 0;
}
.news__pacet h4 {
  font-size: 20px;
}
.news__pacet__text {
  font-size: 13px;
  margin-bottom: 0;
}
.news__row_with__height p {
  width: 5%;
}
.news__row_with__height {
  display: flex;
  align-items: center;
  height: 22px;
  padding: 0;
  margin: 10px 0;
}
.news__pacet__views {
  margin-left: 1%;
}
.news__row_with__height span {
  width: 10%;
  padding-right: 0;
  padding-left: 0;
  padding-top: 1px;
  font-size: 14px;
  margin-top: 2px;
}
.news__pacet__statuses {
  display: flex;
  flex-direction: column;
}
.news__pacet__statuses div h5 {
  font-size: 15px;
}
.news__pacet__statuses div .row {
  align-items: center;
}
.news__pacet__statuses div .row > * {
  width: 50%;
  color: gray;
}
.news__pacet__statuses div > hr {
  margin: 7px 0;
}
.news__pacet__statuses div .row p {
  margin-bottom: 0;
  padding-left: 0;
  font-size: 12px;
}
.news__pacet__statuses div small {
  font-size: 10px;
}
.news_devices_box_row {
  margin: 6% 0;
}
.news__devices_boxes {
  margin: 100px 0;
}
.news_devices__box .row .col-xl-6 h4 {
  font-weight: 700;
  margin: 18px 0;
}
.news_devices__box .row .col-xl-6 p {
  font-size: 19px;
  margin-bottom: 20px;
}
.news_devices__box .row .col-xl-6 .row {
  margin: 0;
}
.news_devices__box .row .col-xl-6 .row button {
  margin-right: 1%;
  width: 31%;
}
.news_devices_box_row_col {
  display: flex;
  align-items: center;
  justify-content: center;
}
/* Question Section  */

.questions__section {
  min-height: 50vh;
  padding: 0;
  margin: 0 0 40px;
}
.question_texture__box {
  position: relative;
  margin: 40px 0;
}
.question_text__box h3 {
  font-weight: 700;
  margin-bottom: 30px;
}
.question_text__box .row {
  justify-content: space-between;
}
.question_text__box .row .col-8 {
  margin-top: 30px;
}
.accordion-button:focus {
  z-index: 1;
}

/* Usage Slider Section  */

.usage_slider__section {
  min-height: 10vh;
  margin: 60px 0;
}
.usage_slider__section h3 {
  margin-bottom: 25px;
  font-weight: 700;
}
.usage_slider__slide {
  text-align: center;
  margin-right: 5px;
  padding: 20px 40px;
  border: 1px solid #ccc;
}
.usage_slider__slide p {
  margin-bottom: 0;
}
.usage_slider__slide img {
  display: block;
  margin-bottom: 12px;
  margin: 10px auto;
}
.img_3 {
  margin-bottom: 20px !important;
}

/* Pagination Title Section  */

.paginationTitle__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 40vh;
  background: linear-gradient(
      134.3deg,
      rgba(2, 7, 36, 0.76) 26.87%,
      rgba(160, 154, 167, 0.24) 118.47%
    ),
    url(./../../public/images/Backgrounds/image.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 90%;
  margin: 0 auto;
  color: #fff;
}

.paginationTitle__wrapper .container a {
  font-weight: 400;
  color: #fff;
  text-decoration: none;
  transition: 0.3s ease all;
}
.paginationTitle__wrapper .container a:hover {
  color: #ababb3;
}

/* Map Section  */
.map__section {
  margin: 40px 0 0;
}
.map__wrapper .row .col-5 {
  border: 1px solid #ccc;
}

.map_socials {
  display: flex;
  list-style-type: none;
  padding: 0;
  flex-direction: row;
  margin: 10px 0;
  font-size: 20px;
}
.map_socials li a {
  color: rgb(2, 2, 2);
  transition: 0.3s ease all;
  margin-right: 15px;
}
.map__wrapper h3 {
  font-weight: 700;
  margin-bottom: 40px;
}
.map_socials li a.f:hover {
  color: #0d2363;
}
.map_socials li a.i:hover {
  color: #c25265;
}
.map_socials li a.y:hover {
  color: #ce2121;
}
.map_socials li a.t:hover {
  color: #1c8ae4;
}
.map__title {
  margin: 14px 0;
  display: block;
}
/* Footer  */
.footer {
  min-height: 20vh;
  margin: 60px 0 0;
  background-color: #05278d;
  color: #fff;
}
.footer-wrapper .row .col-4 {
  padding: 0 30px;
}
.footer-wrapper .row .col-4 img {
  width: 100%;
}
.footer_menu__links {
  flex-direction: column;
  margin: 10px 0;
  font-size: 20px;
  transition: 0.3s ease all;
}

.footer_menu__links:hover {
  color: rgb(63, 63, 63) !important;
}
.footer_menu__link {
  text-decoration: none;
  color: rgb(231, 222, 222);
  font-size: 20px;
  margin-bottom: 20px;
}
.footer_menu__title {
  margin: 34px 0;
}
.footer-wrapper ul {
  display: flex;
  list-style-type: none;
  padding: 0;
}
.footer_attention_social__link {
  color: #fff;
  transition: 0.3s ease all;
}
.footer_attention_social__item {
  margin-right: 14px;
  font-size: 27px;
}
.footer_attention_social__link.f:hover {
  color: #061541;
}
.footer_attention_social__link.i:hover {
  color: #c25265;
}
.footer_attention_social__link.y:hover {
  color: #c50a0a;
}
.footer_attention_social__link.t:hover {
  color: #1c8ae4;
}
.footer_menu__title {
  display: flex;
  margin-bottom: 7px !important;
}
.fmt_top {
  margin-top: 10px;
}
.footer-wrapper .row .col-3 form {
  background: transparent;
  border: none;
  color: #fff;
  margin-top: 34px;
}
.footer-wrapper .row .col-3 form input {
  background-color: transparent;
  color: #fff;
}
.footer-wrapper .row .col-3 form button {
  margin: 10px 0 20px;
  width: 100%;
  color: #05278d;
  background-color: #fff;
  transition: 0.2s ease all;
}
::placeholder {
  color: #fff;
}
.footer-wrapper .row .col-3 form button:hover {
  background-color: transparent;
  border: 1px solid #fff;
  color: #fff;
}

/* Not Found */
.notfound__section {
  width: 100%;
  height: 100vh;
  background-color: #aaa;
  display: flex;
  align-items: center;
  justify-content: center;
}
.notfound__wrapper {
  background-image: url(./../../public/images/404/404.jpg);
  background-position: center;
  background-repeat: no-repeat;
  box-shadow: 0 0 10px 0 #222;
  width: 30%;
  height: 49vh;
  position: relative;
}
.notfound__wrapper::before {
  position: absolute;
  top: -10%;
  left: -10%;
  content: "";
  width: 120%;
  height: 120%;
  border: 2px solid #888;
}

/**************************** Site Responsive Parts! ***********************************/

@media screen and (min-width: 992px) and (max-width: 1200px) {
  .container {
    width: 900px !important;
  }
  .news__section {
    padding: 0px 0 0px;
  }
  .banner_wrapper {
    height: 100vh;
  }
  .navbar .container {
    padding: 0;
  }
  .news__pacet__statuses div .row p {
    font-size: 9px;
  }
  .news__pacet__statuses div small {
    font-size: 7px;
  }
  .news__pacet__date {
    width: 72%;
  }
  .news__head h2 {
    font-weight: 700;
    font-size: 25px;
  }
  .news_devices_box_row .row .col-xl-6:first-child {
    margin-bottom: 5%;
  }
  .question_text__box .row .col-xl-4 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 8%;
  }
  .footer_menu__link {
    font-size: 17px;
  }
  .dropdown-menu[data-bs-popper] {
    top: 120%;
    left: 0;
    margin-top: 0.125rem;
  }
  .modernitation__header .row .col-lg-4 {
    text-align: left;
  }
  .modernitation__body .row .col-lg-6:nth-child(1) {
    margin-bottom: 10%;
  }
  .modernitation_pacet__img {
    margin-left: 0 !important;
  }
  .news__pacet__statuses div h5 {
    font-size: 16px;
  }
  .news__pacet__statuses {
    flex-direction: row;
  }
  .news__pacet__statuses .col-lg-6:nth-child(2n) {
    padding-left: 1%;
  }
  .news__pacet__statuses .col-lg-6 {
    padding: 0;
    margin-top: 1%;
  }
  .news__pacet__statuses .col-lg-6 .row {
    width: 100%;
    margin: 0;
  }
}

@media screen and (min-width: 768px) and (max-width: 992px) {
  body {
    overflow-x: hidden;
  }
  .banner_wrapper {
    height: 100vh;
  }
  .vxod_btn {
    font-size: 12px;
  }
  .text__part {
    margin-bottom: 2%;
  }
  .modernitation__body .row .col-lg-6:nth-child(1) {
    margin-bottom: 10%;
  }
  .modernitation__body .row .col-lg-6 h5 {
    font-size: 15px;
    margin-bottom: 2%;
  }
  .modernitation__body .row .col-lg-6 p {
    font-size: 13px;
  }
  .news__pacet__date {
    font-size: 12px;
    width: 25%;
  }
  .md_style__date {
    width: 51%;
  }
  .news__pacet__views {
    font-size: 12px;
    margin: 0;
  }
  .news__head h2 {
    font-size: 21px;
  }
  .news__pacet__statuses div h5 {
    font-size: 15px;
    font-weight: 600;
  }
  .news__pacet__statuses .col-lg-6 {
    margin-top: 1%;
  }
  .news__pacet__statuses .col-lg-6 .row {
    width: 100%;
    margin: 0;
    justify-content: space-between;
  }
  .news__pacet__statuses .col-lg-6 .row small {
    font-size: 7px;
    text-align: right;
    padding-right: 0;
  }

  .collapse_menu {
    justify-content: space-between;
    background-color: gray;
    right: 10%;
    display: flex;
    align-items: center;
    width: 45%;
    top: 125%;
    padding: 10px;
    position: absolute;
  }
  .navbar .container {
    position: relative;
  }
  .collapse_menu .navbar-nav {
    display: flex;
    flex-direction: row;
  }
  .modernitation_pacet__img {
    margin: 5% auto;
  }
  .modernitation__header .row .col-lg-4 {
    text-align: center;
  }
  .news__pacet__statuses div .row p {
    font-size: 8px;
  }
  .news__pacet h4 {
    font-size: 12px;
  }
  .news_devices__box .row .col-xl-6 p {
    font-size: 15px;
  }
  .question_text__box .row .col-xl-4 {
    margin-top: 5%;
  }
  .footer_menu__link {
    font-size: 14px;
  }
  .slick-next {
    right: 0;
    top: -10%;
  }
  .slick-prev {
    left: 94%;
    top: -10%;
  }
}

@media screen and (min-width: 576px) and (max-width: 767px) {
  body {
    overflow-x: hidden;
  }
  .collapse_menu {
    justify-content: space-between;
    background-color: gray;
    right: 10%;
    display: flex;
    align-items: center;
    width: 50%;
    top: 104%;
    padding: 10px;
    position: absolute;
  }
  .dropdown-menu[data-bs-popper] {
    top: 120%;
    left: 0;
    margin-top: 0.125rem;
  }
  .navbar__section .navbar .container form {
    width: 60%;
  }
  .banner_wrapper {
    height: 100vh;
  }
  .text__part {
    margin-bottom: 3%;
  }
  .navbar-nav {
    flex-direction: revert;
  }
  .vxod_btn {
    font-size: 9px;
  }
  .text__part h2 {
    font-size: 20px;
  }
  .text__part button {
    width: 22%;
  }
  .modernitation_pacet__img {
    margin: 5% auto;
  }
  .modernitation__header .row .col-lg-4 {
    text-align: center;
  }

  .modernitation__header .row .col-4 h4 {
    font-size: 16px;
    font-weight: 700;
  }
  .modernitation__header .row .col-4 p {
    font-size: 14px;
    font-weight: 500;
  }
  .modernitation__body .row .col-6 h5 {
    font-size: 14px;
    margin-bottom: 6%;
  }
  .modernitation__body .row .col-lg-6 h5 {
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 3%;
  }
  .modernitation__body .row .col-lg-6 p {
    font-size: 12px;
  }
  .news__head h2 {
    font-size: 20px;
  }
  .news__head a,
  .news__head h2 {
    width: 19%;
    font-size: 11px;
    padding-right: 0;
    margin: 0;
  }
  .news__pacet__statuses div h5 {
    font-size: 10px;
  }
  .news__pacet__statuses div .row > * {
    width: 50%;
  }
  .news__pacet__statuses div .row p {
    font-size: 5px;
  }
  .news__pacet__statuses div small {
    font-size: 5px;
    padding: 0;
  }
  .news__pacet__statuses div > hr {
    margin: 4px 0;
  }
  .news__section {
    min-height: 40vh;
    padding: 10px 0 0px;
  }
  .news__row_with__height {
    display: flex;
    align-items: center;
    height: 22px;
    padding: 0;
    margin: 3px 0;
  }
  .news__pacet__date {
    font-size: 7px;
  }
  .news__pacet__views {
    font-size: 7px;
  }
  .news__pacet h4 {
    font-size: 10px;
  }
  .news__pacet__text {
    font-size: 8px;
  }
  .news_devices__box .row .col-xl-6 h4 {
    margin: 12px 0;
    font-size: 20px;
  }
  .news_devices__box .row .col-xl-6 p {
    font-size: 16px;
  }
  .news_devices__box .row .col-xl-6 .row button {
    width: 33%;
  }
  .question_text__box h3 {
    font-size: 20px;
  }
  .map__wrapper h3 {
    font-weight: 700;
    margin-bottom: 29px;
    font-size: 20px;
  }
  .map__title {
    margin: 10px 0;
    display: block;
    font-size: 14px;
    font-weight: 600;
  }
  .questions__section {
    min-height: 50vh;
    padding: 0;
    margin: 0 0 20px;
  }
  .map__section {
    margin: 20px 0 0;
  }
  .question_text__box .row .col-xl-4 {
    margin-top: 25px;
  }
  .usage_slider__section {
    min-height: 10vh;
    margin: 30px 0;
  }
  .usage_slider__slide p {
    font-size: 13px;
  }
  .footer-wrapper .row .col-4 {
    padding: 12px 0 0;
  }
  .footer-wrapper .row .col-4 p {
    font-size: 12px;
    margin-bottom: 8px;
  }
  .footer_attention_social__item {
    margin-right: 12px;
    font-size: 19px;
  }
  .footer_menu__link {
    font-size: 10px;
    margin-bottom: 0px;
  }
  .footer_menu__title {
    display: flex;
    margin-bottom: 0px !important;
    font-size: 14px;
    font-weight: 700;
  }
  .footer-wrapper .row .col-3 small {
    font-size: 8px;
  }
  .footer-wrapper .row .col-3 form {
    padding: 0;
  }
  .footer-wrapper .row .col-3 form input {
    font-size: 12px;
  }
  .footer-wrapper .row .col-3 form button {
    margin: 10px 0 8px;
    font-size: 14px;
  }
  .footer-wrapper .row .col-3 form p {
    font-size: 13px;
  }
  .footer_menu__links {
    font-size: 14px;
  }
  .news_devices__box .row .col-xl-6 .row button {
    width: 22%;
    font-size: 10px;
  }
  .footer-wrapper .row .col-3 form button {
    margin: 3px 0 7px;
    font-size: 11px;
    width: 100%;
  }
  .slick-next {
    right: 0;
    top: -10%;
  }
  .slick-prev {
    left: 91%;
    top: -10%;
  }
}

@media screen and (max-width: 576px) {
  body {
    overflow-x: hidden;
  }
  .collapse_menu {
    justify-content: space-around;
    background-color: gray;
    right: 10%;
    display: flex;
    align-items: center;
    width: 55%;
    top: 104%;
    padding: 0;
    position: absolute;
    flex-direction: row;
  }
  .text__part h2 {
    font-size: 20px;
  }
  .text__part small {
    font-size: 14px;
  }
  .navbar__section .navbar .container form {
    width: 60%;
  }
  .banner_wrapper {
    height: 100vh;
  }
  .navbar-nav {
    width: 64%;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .vxod_btn {
    font-size: 7px;
  }

  .text__part button {
    margin: 25px 0;
    font-size: 14px;
  }
  .dropdown-menu[data-bs-popper] {
    top: 95%;
  }
  .text__part button {
    width: 22%;
  }
  .modernitation__header .row .col-lg-4 {
    text-align: center;
    margin-bottom: 10%;
  }
  .modernitation_pacet__img {
    margin: 4% auto;
  }
  .modernitation__header {
    margin: 30px 0;
  }
  .modernitation__header .row .col-lg-4 h4 {
    font-size: 19px;
  }
  .modernitation__header .row .col-lg-4 p {
    font-size: 14px;
    margin-bottom: 0;
  }
  .modernitation__section {
    padding: 0;
  }
  .modernitation__body .row .col-lg-6 h5 {
    font-weight: 700;
    margin-bottom: 3%;
    font-size: 18px;
  }
  .modernitation__body .row .col-xl-6 p {
    font-size: 9px;
  }
  .modernitation__body .row .col-xl-6 button {
    font-size: 12px;
    margin: 0px 0;
  }
  .news__section {
    min-height: 40vh;
    padding: 35px 0 0px;
  }
  .news__head h2 {
    font-weight: 700;
    margin-bottom: 0%;
    font-size: 21px;
  }
  .news__head a,
  .news__head h2 {
    width: 20%;
    font-size: 13px;
    padding: 7px 0;
  }
  .news__pacet__statuses div h5 {
    font-size: 10px;
  }
  .news__pacet__statuses div .row p {
    margin-bottom: 0;
    padding-left: 0;
    font-size: 5px;
  }
  .news__pacet__statuses div small {
    font-size: 3px;
  }
  .news__row_with__height {
    display: flex;
    align-items: center;
    height: 5px;
    padding: 0;
    margin: 5px 0;
  }
  .news__row_with__height small {
    font-size: 7px;
  }
  .news__pacet h4 {
    font-size: 10px;
  }
  .news__pacet__text {
    font-size: 9px;
    margin-bottom: 0;
  }
  .news_devices_box_row {
    margin: 3% 0;
  }
  .news_devices__box .row .col-xl-6 h4 {
    font-size: 17px;
    font-weight: 700;
    margin: 14px 0;
  }
  .news_devices__box .row .col-xl-6 p {
    font-size: 15px;
    margin-bottom: 20px;
  }
  .news_devices__box .row .col-xl-6 .row button {
    margin-right: 1%;
    font-size: 10px;
    width: 25%;
  }
  .question_text__box h3 {
    font-weight: 700;
    margin-bottom: 27px;
    font-size: 20px;
  }
  .question_text__box .row .col-xl-4 {
    margin-top: 6%;
  }
  .map__wrapper h3 {
    font-weight: 700;
    margin-bottom: 30px;
    font-size: 20px;
  }
  .news_devices_box_row_col img {
    width: 80%;
  }
  .modernitation__header .row {
    width: 100%;
    margin: 0;
  }

  .modernitation__header .row .col-4 {
    padding: 0;
  }
  .modernitation__header .row .col-4:nth-child(2) {
    padding: 0px 5px;
  }
  .footer-wrapper .row .col-3 form button {
    width: 100%;
    font-size: 10px;
    margin: 8px 0 0px;
    color: #05278d;
    background-color: #fff;
    transition: 0.2s ease all;
  }
  .map__wrapper .row {
    margin: 0;
    width: 100%;
  }
  .usage_slider__section {
    min-height: 10vh;
    margin: 30px 0;
  }
  .usage_slider__section h3 {
    font-size: 20px;
  }
  .usage_slider__section .container .row {
    margin: 0;
    width: 100%;
  }
  .footer {
    margin: 40px 0 0;
  }
  .footer-wrapper .row .col-4 p {
    font-size: 11px;
    margin-bottom: 8px;
  }
  .footer-wrapper .row .col-4 {
    padding: 0 14px;
  }
  .footer_attention_social__item {
    margin-right: 12px;
    font-size: 19px;
  }
  .footer_menu__title {
    margin: 15px 0;
    font-size: 14px;
    font-weight: 700;
  }
  .footer_menu__link {
    font-size: 10px;
  }
  .footer-wrapper .row .col-3 small {
    font-size: 6px;
  }
  .footer-wrapper .row .col-3 form input {
    font-size: 12px;
  }
  .footer-wrapper .row .col-3 form {
    padding: 0;
  }
  .footer-wrapper .row .col-3 form button {
    margin: 10px 0 8px;
    font-size: 14px;
  }
  .footer-wrapper .row .col-3 form p {
    font-size: 13px;
  }
  .footer_menu__links {
    font-size: 14px;
  }
  .footer_menu__title {
    margin-bottom: 0px;
    font-size: 14px;
  }
  .footer-wrapper .row .col-3 form button {
    margin: 7px 0 8px;
    font-size: 10px;
  }
  .slick-next {
    right: 0;
    top: -10%;
  }
  .slick-prev {
    left: 90%;
    top: -10%;
  }
}
